// Import 
@import "mix";
@import "variables";
@import "exagonal";
@import "hover-container";
@import "popuo-box";
@import "responsiveslides";
@import "variables-bootstrap";
@import "tabs";
@import "link_effects";
@import "footer";

@media (min-width: 768px){	
	.navbar {
	    position: fixed;
	    z-index: 10000;
	    width: 90%;
	    left: 5%;
	    border-radius: 0;
	    margin-top: 11px;
	}
}

@media screen and (min-width: $screen-md){	
	html{
	    min-height: 100%;
	    position: relative;
	}
	body{
	  margin: 0;
	  margin-bottom: 205px;
	}
}	
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
ul{
	list-style: none;
	-webkit-padding-start: 0px;
}
.relative{
	position: relative;
}
.nav-tabs-home{
	& .tab-content {
		min-height: 300px;
	}
	& ul li{
		width: calc(100%/4);
		text-align: center;
		&.active{
			border-bottom: 4px solid #D3FF0D;
		}
	}

}
.az-dropdown{
	@media screen and  (min-width: $screen-sm){	
		right: -15px !important;
		border: none;
	}
}

.initial{
	display: initial;
}
.clear-both{
    clear: both;
}
.highlight {
    background-color: $color-primary;
    color: $color-gray !important;
    padding: 0 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#slider-index{
	background-color: $color-primary;
	height: 700px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/to-top1.png) no-repeat 0px 0px;
    background-color: rgb(187, 186, 186);
}

.az-section{
	width: 100%;
	padding: 40px;
	@media screen and (max-width: $screen-sm) {
		padding: 0px;
	}
}
.az-section-head{
    text-align: center;
    padding: 4em 0;
    h3{
	    color: #282528;
	    font-weight: 800;
	    font-size: 1.6em;
	    overflow: hidden;
	    & span{
			position: relative;
		    &:before{
			    content: "";
			    position: absolute;
			    top: 12px;
			    width: 100px;
			    height: 1px;
			    left: -100px;
			    background-color: black;
			    @include transform(rotate(4deg));
		   	}
		    &:after{
			    content: "";
			    position: absolute;
			    top: 12px;
			    width: 100px;
			    height: 1px;
			    right: -100px;
			    background-color: black;
			    @include transform(rotate(-4deg));
		   	}
	    }
    }
	p{
    width: 95%;
    margin: 3em auto 1.2em auto;
    color: #282528;
    line-height: 1.8em;
    font-size: 1.6em;
	}
}

.az-title-head{
	position: relative;
	&:before{
	    content: "";
	    position: absolute;
	    top: 12px;
	    width: 100px;
	    height: 1px;
	    left: -100px;
	    background-color: black;
	    @include transform(rotate(4deg));
	}
	&:after{
	    content: "";
	    position: absolute;
	    top: 12px;
	    width: 100px;
	    height: 1px;
	    right: -100px;
	    background-color: black;
	    @include transform(rotate(-4deg));
	}
}

.divice-slider{
	overflow: hidden;
  animation: myAnimation 1000ms infinite;
}
.divice-slider{
  animation: animar 5000ms infinite;
}
@keyframes myAnimation{
  0%{top: 0px; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  25%{top: -4px; -webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}
  50%{top: 0px; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}
  75%{top: -0px; -webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}
  100%{top: 0px; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}
}
@keyframes animar{
  0% {
    left: 0;
    top: 0;
  }
  10% {
    left: 5rem;
    top: 0rem;
    color: #9b59b6;
  }
  30% {
    top: 5rem;
    left: 5rem;
    color: white;
  }
  60%{
    top: 5rem;
    left: 0;
    color: #9b59b6;
  }
  100% {
    top: 0;
    left: 0;
  }
}

.parallax-window{
	min-height: 200px;
	height: 200px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: table;
    overflow: hidden;
    &:before{
		background-color: $color-primary;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	    top: 0;
	    left: 0;
	    z-index: 0;
	    opacity: 0.7;
    }
    & .parallax-content{
    	color: $color-black;
    	padding: 2em 0;
	    display: table-cell;
	    vertical-align: middle;
	    z-index: 1;
	    p{
			color: $color-black;
		    position: relative;
	    }
		.az-title-head{
			position: relative;
			&:before{
			    background-color: $color-black;
			}
			&:after{
			    background-color: $color-black;
			}
		}
    }
}

.info-member{
	text-align: center;
	& h3,& p{
		padding: 0px;
		margin-bottom: 0px;
	}
}
.social-personal {
	-webkit-padding-start: 0px;
	margin: 10px 0px 40px 0px;
	& li{
		float: left;
	    display: inline-block;
	    width: calc(100% / 4);
	}
	& a {
	    color: $color-gray;
	    margin: calc(100%/4);
	    position: relative;
		&:hover i{
		    transform: rotate(-7deg) scale(2.5);
		    transition-duration: 0.2s;
		}
	}
}
.img{ width: 100% }
.animatedParent{ overflow: hidden; }
.az-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10001;
	background: url(../images/loader.gif) center no-repeat $color-primary;
}
.scroll-loader{
	overflow-x:hidden;
	overflow-y:hidden; 
}
.top-nav{
	position: fixed;
    width: 100%;
    left: 0;
    margin-top: 0px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(211,255,13,1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(211,255,13,1);
	box-shadow: 0px 1px 0px 0px rgba(211,255,13,1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.featurette-divider {
	width: 100%;
  margin: 80px 0;
  border-color: transparent;
}

.featurette-divider-low {
	width: 100%;
  margin: 20px 0;
  border-color: transparent;
}


.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

#map{
	height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 0px 0px $color-primary;
}