$font-primary: 'Nova Flat', cursive;

$color-green: #1a9079;
$color-primary: #D3FF0D !default;
$color-primary-hover: #D3FF0D !default;
$color-secondary: #118DF0 !default; 
$color-gray: #4b4a49;
$color-black: black;
$color-white: white;

$navbar-margin-bottom: 0px;

$btn-default-color:              white;
$btn-default-bg:                 $color-gray;

$link-color:            $color-gray;
$link-hover-color:      $color-black;